# SQL International Debt Dataset Notebook

In [2]:
import sqlalchemy
import sqlite3
import pandas as pd
import numpy as np

In [3]:
# %load_ext sql
%reload_ext sql

In [4]:
%sql sqlite:///international_debt_2.db

In [5]:
conn = sqlite3.connect("international_debt_2.db")

In [6]:
engine = sqlalchemy.create_engine("sqlite:///international_debt_2.db")

In [7]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///international_debt_2.db
Done.

[('table', 'debt', 'debt', 2, 'CREATE TABLE debt (country_name CHAR (50), country_code CHAR (50), indicator_name TEXT, indicator_code TEXT, debt NUMERIC)')]

In [8]:
query1 = """
SELECT * FROM debt
"""

res1 = pd.read_sql(query1, engine)
res1

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1
...,...,...,...,...,...
2352,Zimbabwe,ZWE,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,98492119.9
2353,Zimbabwe,ZWE,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,44396033.7
2354,Zimbabwe,ZWE,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,15761660.0
2355,Zimbabwe,ZWE,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,461632253.7
2356,Zimbabwe,ZWE,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,363140133.8

In [9]:
query2 = """
SELECT * FROM debt LIMIT 5;
"""

res2 = pd.read_sql(query2, engine)
res2

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1

In [10]:
query3 = """
SELECT count(DISTINCT country_name)
     AS total_distinct_countries
FROM debt;
"""

res3 = pd.read_sql(query3, engine)
res3

   total_distinct_countries
0                       124

In [11]:
query4 = """
SELECT DISTINCT indicator_code
        AS distinct_debt_indicators
FROM debt
ORDER BY distinct_debt_indicators;
"""

res4 = pd.read_sql(query4, engine)
res4

   distinct_debt_indicators
0            DT.AMT.BLAT.CD
1            DT.AMT.DLXF.CD
2            DT.AMT.DPNG.CD
3            DT.AMT.MLAT.CD
4            DT.AMT.OFFT.CD
5            DT.AMT.PBND.CD
6            DT.AMT.PCBK.CD
7            DT.AMT.PROP.CD
8            DT.AMT.PRVT.CD
9            DT.DIS.BLAT.CD
10           DT.DIS.DLXF.CD
11           DT.DIS.MLAT.CD
12           DT.DIS.OFFT.CD
13           DT.DIS.PCBK.CD
14           DT.DIS.PROP.CD
15           DT.DIS.PRVT.CD
16           DT.INT.BLAT.CD
17           DT.INT.DLXF.CD
18           DT.INT.DPNG.CD
19           DT.INT.MLAT.CD
20           DT.INT.OFFT.CD
21           DT.INT.PBND.CD
22           DT.INT.PCBK.CD
23           DT.INT.PROP.CD
24           DT.INT.PRVT.CD

In [12]:
# sum by country 

query5 = """
SELECT country_name, SUM(debt) 
FROM debt 
GROUP BY country_name;
"""

res5 = pd.read_sql(query5, engine)
res5

      country_name     SUM(debt)
0      Afghanistan  6.809432e+08
1          Albania  3.217067e+09
2          Algeria  5.229731e+08
3           Angola  7.136884e+10
4          Armenia  3.834876e+09
..             ...           ...
119  Venezuela, RB  3.604826e+10
120        Vietnam  4.585130e+10
121    Yemen, Rep.  2.552698e+09
122         Zambia  9.430507e+09
123       Zimbabwe  1.264224e+09

[124 rows x 2 columns]

In [13]:
# order by amount of debt

query6 = """
SELECT country_name, SUM(debt) 
FROM debt 
GROUP BY country_name 
ORDER BY SUM(debt);
"""

res6 = pd.read_sql(query6, engine)
res6

                                     country_name     SUM(debt)
0                           Sao Tome and Principe  4.479803e+07
1                                           Tonga  5.520930e+07
2                                         Comoros  5.756848e+07
3                                     Timor-Leste  7.100096e+07
4                                    Turkmenistan  9.513563e+07
..                                            ...           ...
119                            Russian Federation  1.912891e+11
120  Least developed countries: UN classification  2.128810e+11
121                                    South Asia  2.476087e+11
122                                        Brazil  2.806240e+11
123                                         China  2.857935e+11

[124 rows x 2 columns]

In [14]:
# types of debt  - totals for world

query7 = """
SELECT indicator_name, SUM(debt) 
FROM debt 
GROUP BY indicator_name 
ORDER BY SUM(debt);
"""

res7 = pd.read_sql(query7, engine)
res7

                                       indicator_name     SUM(debt)
0     PPG, other private creditors (DIS, current US$)  1.541568e+09
1     PPG, other private creditors (INT, current US$)  1.849535e+09
2            PPG, commercial banks (INT, current US$)  1.315840e+10
3            PPG, commercial banks (DIS, current US$)  1.495856e+10
4           PPG, private creditors (DIS, current US$)  1.650013e+10
5                PPG, multilateral (INT, current US$)  1.689261e+10
6                   PPG, bilateral (INT, current US$)  2.001938e+10
7          PPG, official creditors (INT, current US$)  3.691199e+10
8     PPG, other private creditors (AMT, current US$)  4.033200e+10
9                       PPG, bonds (INT, current US$)  5.552660e+10
10               PPG, multilateral (AMT, current US$)  6.076771e+10
11           PPG, commercial banks (AMT, current US$)  6.172897e+10
12          PPG, private creditors (INT, current US$)  7.053454e+10
13                      PPG, bonds (AMT, current US$)  7.470105e+10
14                  PPG, bilateral (AMT, current US$)  8.693960e+10
15  Interest payments on external debt, private no...  9.641246e+10
16               PPG, multilateral (DIS, current US$)  1.007812e+11
17                  PPG, bilateral (DIS, current US$)  1.382147e+11
18         PPG, official creditors (AMT, current US$)  1.477073e+11
19          PPG, private creditors (AMT, current US$)  1.767620e+11
20  Interest payments on external debt, long-term ...  2.038590e+11
21         PPG, official creditors (DIS, current US$)  2.389960e+11
22  Disbursements on external debt, long-term (DIS...  2.647011e+11
23  Principal repayments on external debt, private...  4.077344e+11
24  Principal repayments on external debt, long-te...  7.322037e+11

In [15]:
# totals for China 

query8 = """
SELECT * FROM debt 
WHERE country_name = "China";
"""

res8 = pd.read_sql(query8, engine)
res8

,country_name,country_code,indicator_name,indicator_code,debt
0,China,CHN,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,1.569256e+10
1,China,CHN,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,1.786655e+10
2,China,CHN,"Interest payments on external debt, private no...",DT.INT.DPNG.CD,1.414272e+10
3,China,CHN,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,6.532446e+09
4,China,CHN,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,5.148984e+08
5,China,CHN,"PPG, bonds (AMT, current US$)",DT.AMT.PBND.CD,9.834677e+09
6,China,CHN,"PPG, bonds (INT, current US$)",DT.INT.PBND.CD,1.224249e+09
7,China,CHN,"PPG, commercial banks (AMT, current US$)",DT.AMT.PCBK.CD,4.046243e+09
8,China,CHN,"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD,3.777050e+09
9,China,CHN,"PPG, commercial banks (INT, current US$)",DT.INT.PCBK.CD,9.699331e+08
10,China,CHN,"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD,2.615724e+09
11,China,CHN,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,3.079501e+09
12,China,CHN,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,8.584070e+08
13,China,CHN,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,9.148170e+09
14,China,CHN,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,3.079501e+09
15,China,CHN,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,1.373305e+09
16,China,CHN,"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD,7.965442e+08
17,China,CHN,"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD,3.340122e+08
18,China,CHN,"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD,1.563424e+08
19,China,CHN,"PPG, private creditors (AMT, current US$)",DT.AMT.PRVT.CD,1.467746e+10
20,China,CHN,"PPG, private creditors (DIS, current US$)",DT.DIS.PRVT.CD,4.111062e+09
21,China,CHN,"PPG, private creditors (INT, current US$)",DT.INT.PRVT.CD,2.350525e+09
22,China,CHN,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,9.621862e+10
23,China,CHN,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,7.239299e+10